<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-/mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyd.security.mapper.SysUserMapper">
	<resultMap type="SysUser" id="userMap">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>
	<resultMap type="SysUser" id="userRoleMap"
		extends="userMap">
		<collection property="roles" fetchType="lazy" column="{userId=id}"
			select="com.zyd.security.mapper.SysRoleMapper.findRoleByUserId" />
	</resultMap>
	<select id="findByUsername" resultMap="userRoleMap">
		select
		u.id,u.username,u.password from SYS_USER u where u.username =
		#{username}
	</select>
</mapper>